.main {
  border: 1px solid rgba(175, 175, 175, 0.521);
  display: flex;
  justify-content: center;
}
.main .col1,
.main .col2 {
  width: 45%;
  margin-bottom: 10px;
}
.main .col1 .head,
.main .col2 .head {
  text-align: center;
}
.main .col1 .block,
.main .col2 .block {
  width: 90%;
  border: 1px solid rgba(175, 175, 175, 0.521);
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.main .col1 .block img,
.main .col2 .block img {
  width: 30%;
  height: 10%;
}
.main .col1 .block .block-mid,
.main .col2 .block .block-mid {
  display: flex;
  flex-direction: column;
}
.main .col1 .block .block-top,
.main .col2 .block .block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .col1 .block .block-top .date,
.main .col2 .block .block-top .date {
  opacity: 0.8;
  z-index: -1;
}
.main .col1 .block .block-top .header,
.main .col2 .block .block-top .header {
  font-size: larger;
}
.main .col1 button,
.main .col2 button {
  width: 90%;
  margin-top: 10px;
}
.main .col2 .reward {
  display: grid;
  margin-bottom: 10px;
  gap: 10px;
  grid-template-columns: repeat(3, 30%);
}
.main .col2 .reward .icon {
  display: flex;
  grid-column: 2/3;
  margin: auto;
}
.main .col2 .reward .date {
  grid-column: 3/4;
  grid-row: 1/2;
  margin: auto;
  border: 1px solid rgba(175, 175, 175, 0.521);
  padding: 5px;
  border-radius: 5px;
}
.main .col2 .reward .text {
  margin: auto;
  border: 1px solid rgba(175, 175, 175, 0.521);
  padding: 5px;
  border-radius: 5px;
}
.main .col2 .reward .text2 {
  margin: auto;
  border: 1px solid rgba(175, 175, 175, 0.521);
  padding: 5px;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 1/2;
}
.main .col2 .reward .date2 {
  margin: auto;
  border: 1px solid rgba(175, 175, 175, 0.521);
  padding: 5px;
  border-radius: 5px;
}
.main .col2 button {
  width: 100%;
  margin-top: 10px;
}
