@border: 1px solid rgba(175, 175, 175, 0.521);
nav {
  min-width: 735px;
  z-index: 1000 !important;
}
.main{
  border: @border;
  display: flex;
  justify-content: center;
  min-width: 735px;
  .col1, .col2{
    width: 45%;
    margin-bottom: 10px;
    min-width: 355px;
    .head{
      text-align: center;
    }
    .block{
      width: 90%;
      border: @border;
      padding: 10px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      img{
        width: 30%;
        height: 10%;
      }
      .block-mid{
        display: flex;
        flex-direction: column;
      }
      .block-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date{
          opacity: 0.8;
          z-index: -1;
        }
        .header{
          font-size: larger;
        }
      }
    }
    button{
      width: 90%;
      margin-top: 10px;
    }
  }
  .col2{
    .reward{
      display: grid;
      margin-bottom: 10px;
      gap: 10px;
      grid-template-columns: repeat(3,30%);
      .icon{
        display: flex;
        grid-column: 2/3;
        margin: auto;
      }
      .text{
        width: 116px;
        margin: auto;
        border: @border;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
      }
      .date{
        grid-column: 3/4;
        grid-row: 1/2;
        .text;
        width: 87px;
      }
      .text2{
        .text;
        grid-column: 3/4;
        grid-row: 1/2;
      }
      .date2{
        .text;
        width: 87px;
      }
    }
    button{
      width: 100%;
      margin-top: 10px;
    }
  } 
}
.color{
  display: flex;
  align-items: center;
  gap: 5px;
  .color-name{
    margin-bottom: 0;
  }
  .color-radius1{
    width: 20px;
    height: 20px;
    border: @border;
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
  }
  .color-radius2{
    .color-radius1;
    background-color: #6fd084;
  }
  .color-radius3{
    .color-radius1;
    background-color: #37b0c1;
  }
  .color-radius4{
    .color-radius1;
    background-color: #f98691;
  }
}
.flexblock{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  .block:first-child{
    background-color: rgb(204, 204, 204);
  }
  .block{
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    min-width: 223px;
    .head{
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .date{
      margin-bottom: 10px;
    }
  }
}
table{
  width: 90% !important;
  thead{
    height: 60px;
    vertical-align: middle !important;
  }
}